{% extends "base.html" %}
{% block title %}{{ status_label }} - ManageYourCellar.com{% endblock %}

{% block content %}
<!-- Title row -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr class="header"><td class="title"><b>{{ status_label }}</b></td></tr>
</table>

<!-- Wine Finder / Filter bar matching original exactly -->
<form method="GET" action="{{ url_for('cellar') }}">
<input type="hidden" name="status" value="{{ status }}">
<table cellpadding="2" cellspacing="0" border="0">
<tbody>
<tr>
    <td class="smallfieldvalue" nowrap>Wine Finder</td>
</tr>
<tr>
    <td class="smallfieldvalue" nowrap>
        {{ search_form.query(style="font-size:11px;width:200px;", placeholder="") }}
    </td>
</tr>
<tr>
    <td class="smallfieldvalue" nowrap>
        <span style="font-size:11px;">Sorted by</span>
        {{ search_form.sort_by(style="font-size:11px;") }}
        &nbsp;
        {{ search_form.sort_order(style="font-size:11px;") }}
        &nbsp;
        <span style="font-size:11px;">Any Type/Color</span>
        {{ search_form.wine_type(style="font-size:11px;") }}
        &nbsp;
        <span style="font-size:11px;">Any Varietal</span>
        {{ search_form.varietal(style="font-size:11px;width:80px;", placeholder="") }}
        &nbsp;
        <span style="font-size:11px;">Any Region</span>
        {{ search_form.appellation(style="font-size:11px;width:80px;", placeholder="") }}
        &nbsp;
        <span style="font-size:11px;">Any Vintage</span>
        {{ search_form.min_vintage(style="font-size:11px;width:50px;", placeholder="") }}
        &nbsp;
        <input type="submit" value="Search">
    </td>
</tr>
</tbody>
</table>
</form>

<!-- Page info with Next/All pagination -->
<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tr>
    <td class="smallfieldvalue">
        {% if wines %}
        <b>Next</b> | <b>All</b> | Page 1 of {{ ((wines|length - 1) // 50 + 1) }} - {{ wines|length }} wines ({{ wines|sum(attribute='quantity') }} bottles)
        {% endif %}
    </td>
    <td class="smallfieldvalue" style="text-align:right;">
        <a href="#" style="font-size:10px;">Printable View</a>&nbsp;
        <a href="#" style="font-size:10px;">Customize this view</a>
    </td>
</tr>
</table>

{% if wines %}
<!-- Wine table matching original -->
<table cellpadding="2" cellspacing="0" border="0" width="100%">
<thead>
<tr class="subhead" onclick="sortColumnWithHold(event)">
    <td type="String" class="subhead" style="text-align:left;">Name</td>
    <td type="String" class="subhead" style="text-align:left;">Producer</td>
    <td type="String" class="subhead" style="text-align:left;">Appellation</td>
    <td type="String" class="subhead" style="text-align:left;">Varietal</td>
    <td type="Number" class="subhead">Qty</td>
    <td type="String" class="subhead">Maturity</td>
    <td type="Number" class="subhead" nowrap>Best From</td>
    <td type="Number" class="subhead" nowrap>Best Until</td>
    <td type="String" class="subhead" nowrap>Rating</td>
    <td type="String" class="subhead">Price</td>
</tr>
</thead>
<tbody>
{% for wine in wines %}
<tr class="{{ 'odditem' if loop.index is odd else 'evenitem' }}">
    <td>
        {% if wine.vintage %}<b>{{ wine.vintage }}</b> {% endif %}<a href="{{ url_for('wine_detail', wine_id=wine.id) }}">{{ wine.name }} ({{ wine.size_ml or 750 }}ml)</a>{% if wine.has_rating %} <span style="font-size:9px;vertical-align:super;color:#990000;font-weight:bold;">RATED</span>{% endif %}
    </td>
    <td>{{ wine.producer }}</td>
    <td>{{ wine.appellation or '' }}</td>
    <td>{{ wine.varietals_display or '' }}</td>
    <td style="text-align:center;">{{ wine.quantity }}</td>
    <td style="text-align:center;">{{ wine.maturity_display or '' }}</td>
    <td style="text-align:center;">{% if wine.drink_from %}{{ wine.drink_from }}{% else %}n/a{% endif %}</td>
    <td style="text-align:center;">{% if wine.drink_to %}{{ wine.drink_to }}{% else %}n/a{% endif %}</td>
    <td style="text-align:center;">{{ wine.rating_text }}</td>
    <td style="text-align:right;white-space:nowrap;">{% if wine.price %}US${{ "%.2f"|format(wine.price) }}{% else %}n/a{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

<!-- Bottom pagination -->
<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tr>
    <td class="smallfieldvalue">
        <b>Next</b> | <b>All</b> | Page 1 of {{ ((wines|length - 1) // 50 + 1) }}
    </td>
</tr>
</table>
{% else %}
<p class="smalltext" style="padding:10px;">No wines found. <a href="{{ url_for('add_wine') }}">Add Wine</a> to get started.</p>
{% endif %}
{% endblock %}
