{% extends "base.html" %}
{% block title %}Ready to Drink - ManageYourCellar.com{% endblock %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr class="header"><td class="title"><b>Ready to Drink</b></td></tr>
</table>
<p class="smalltext" style="padding:2px 0;">Wines in their optimal drinking window ({{ current_year }}). {{ wines|length }} wine{{ 's' if wines|length != 1 }} ready to enjoy now.</p>

{% if wines %}
<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tbody>
<tr class="subhead">
    <td style="text-align:left;">Name</td>
    <td style="text-align:left;">Producer</td>
    <td style="text-align:left;">Appellation</td>
    <td style="text-align:left;">Varietal</td>
    <td>Qty</td>
    <td>Maturity</td>
    <td>Best From</td>
    <td>Best Until</td>
    <td>Rating</td>
    <td style="text-align:right;">Price</td>
</tr>
{% for wine in wines %}
<tr class="{{ 'odditem' if loop.index is odd else 'evenitem' }}">
    <td>
        {% if wine.vintage %}<b>{{ wine.vintage }}</b> {% endif %}<a href="{{ url_for('wine_detail', wine_id=wine.id) }}">{{ wine.name }} ({{ wine.size_ml or 750 }}ml)</a>{% if wine.has_rating %} <span style="font-size:9px;vertical-align:super;color:#990000;font-weight:bold;">RATED</span>{% endif %}
    </td>
    <td>{{ wine.producer }}</td>
    <td>{{ wine.appellation or '' }}</td>
    <td>{{ wine.varietals_display or '' }}</td>
    <td style="text-align:center;">{{ wine.quantity }}</td>
    <td style="text-align:center;">{{ wine.maturity_display or 'Drink' }}</td>
    <td style="text-align:center;">{% if wine.drink_from %}{{ wine.drink_from }}{% else %}n/a{% endif %}</td>
    <td style="text-align:center;">{% if wine.drink_to %}{{ wine.drink_to }}{% else %}n/a{% endif %}</td>
    <td style="text-align:center;">{{ wine.rating_text }}</td>
    <td style="text-align:right;white-space:nowrap;">{% if wine.price %}US${{ "%.2f"|format(wine.price) }}{% else %}n/a{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p class="smalltext" style="padding:10px;">No wines ready right now. Set drinking windows when adding wines to see them here.</p>
{% endif %}
{% endblock %}
